<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.paradoxo.amadeus">

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activity.VozSegundoPlanoActivity"
            android:theme="@style/UI.Translucent" />

        <activity android:name=".activity.TrocarVozActivity" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>

        <activity
            android:name=".nuvem.MeusBancosActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".nuvem.BancosOnlineActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ConfiguracoesActivity"
            android:label="@string/title_activity_settings" />

        <activity
            android:name=".activity.LoadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Transparent"
            android:windowSoftInputMode="stateVisible|adjustResize|stateAlwaysHidden" />

        <activity android:name=".activity.AlteraRespostasActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Transparent"
            android:windowSoftInputMode="stateVisible|adjustResize|stateAlwaysHidden" />

        <activity android:name=".activity.SobreActivity" />
        <activity android:name=".activity.QPythonActivity" />


        <activity
            android:name=".activity.ListarRespostasActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Transparent"
            android:windowSoftInputMode="stateVisible|adjustResize|stateAlwaysHidden" />


        <activity android:name=".activity.LicencaAnimacoesActivity" />


        <activity android:name=".activity.VozSegundoPlanoConfiguracaoActivity" />

        <activity
            android:name=".activity.redesign.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9608651302719341~7979481150" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <service
            android:name=".firebase.MessasingService"
            android:permission="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".service.EscutadaoraService"
            android:exported="false"
            android:permission="true">
            <intent-filter>
                <action android:name="SERVICE_ESCUTADORA" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>
        <service android:name=".service.TratarRespostaService" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>